section {
    header {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
    }

    article {
        header {
            font-size: 1.5rem;
            line-height: 1.1;
        }

        p {
            font-size: 1.1rem;
            font-style: italic;
        }
    }
}
